{# @var eye_admin \Eyetronic\EyeAdminBundle\Context\AdminContext #}
{# @var yandex_yml_shops App\Entity\YandexYmlShop[] #}
{% extends '@EyeAdmin/dashboard-base.html.twig' %}

{% block title %}Список фидов{% endblock %}

{% block content_header_title %}YandexYmlShop{% endblock %}

{% block page_actions %}<a class="action-new btn btn-primary btn-sm" href="{{ path('admin_yandex_yml_shop_new') }}">Добавить</a>{% endblock %}

{% block body %}
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Фид</th>
                <th class="list-options"></th>
            </tr>
        </thead>
        <tbody>
        {% for yandex_yml_shop in yandex_yml_shops %}
            <tr>
                <td>{{ yandex_yml_shop.id }}</td>
                <td>{{ yandex_yml_shop.name }}</td>
                <td><a href="{{ path('feed_yandex', {'id': yandex_yml_shop.id}) }}" target="_blank">ссылка</a></td>
                <td class="list-actions">
                    <a class="fa fa-icons fa-pencil-square-o list-edit-button" href="{{ path('admin_yandex_yml_shop_edit', {'id': yandex_yml_shop.id}) }}"></a>
                    <a class="fas fa-eye list-detail-button" href="{{ path('admin_yandex_yml_shop_show', {'id': yandex_yml_shop.id}) }}"></a>
                    <a class="fas fa-trash-alt list-remove-button" data-id="{{ yandex_yml_shop.id }}" href="{{ path('admin_yandex_yml_shop_delete', {'id': yandex_yml_shop.id}) }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Нет записей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form class="delete-form" method="post" data-action="{{ path('admin_yandex_yml_shop_delete', {'id': '__id__'}) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>
{% endblock %}
